In [4]:
titulo = input("Título de la película")
Director=input("Director")
Año=input("Año")
País=input("País")

pelicula = titulo + " "+  Director + " "+ Año + " "+ País

In [5]:
pelicula

'2 2 2 2'

In [1]:
import pandas as pd
pd.read_excel(r"C:\Users\capor\OneDrive\Documentos\GitHub\Datathon-24-\Datos Fase Centrifucación\Centrífuga 14246.xlsx")

,2024-10-08 17:53:33.320000,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,SCADA_HIST,Unnamed: 6,Unnamed: 7,True,False,https://online.wonderware.com,Historian/v1,Unnamed: 12,5,120
0,True,NaN,NaN,NaN,NaN,SCADA_HIST_DS,NaN,NaN,1.0,0.0,https://online.wonderware.com,Historian/v1,NaN,5.0,120.0
1,NaN,NaN,NaN,NaN,NaN,SCADAGRQA01,NaN,NaN,1.0,0.0,https://online.wonderware.com,Historian/v1,NaN,5.0,120.0
2,NaN,NaN,NaN,NaN,NaN,WONDER_INSQL,NaN,NaN,0.0,0.0,https://online.wonderware.com,Historian/v1,NaN,5.0,120.0
3,2024-05-09 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,06:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
import pandas as pd

# Cargar los archivos CSV

# Leer los archivos CSV con el separador adecuado
df_centrifuga = pd.read_csv(r"C:\Users\capor\OneDrive\Documentos\GitHub\Datathon-24-\Datos Fase Centrifucación\Centrífuga 14246.csv", sep=';', engine='python')
df_horas_centrifugas = pd.read_csv(r"C:\Users\capor\OneDrive\Documentos\GitHub\Datathon-24-\Datos Fase Centrifucación\Horas inicio fin centrífugas.csv", sep=';', engine='python')

# Mostrar las primeras filas para asegurarte de que se hayan cargado correctamente
print(df_centrifuga.head())
print(df_horas_centrifugas.head())

                  DateTime  14246_CTF0101.EN_Parcial  14246_CTF0101.EN_Total  \
0  2023-03-15 00:00:00.000                       0.0                     0.0
1  2023-03-15 00:15:00.000                       0.0                     0.0
2  2023-03-15 00:30:00.000                       0.0                     0.0
3  2023-03-15 00:45:00.000                       0.0                     0.0
4  2023-03-15 01:00:00.000                       0.0                     0.0

  14246_D01780551.PV 14246_D01906041.PV 14246_D01916047.PV 14246_D01916503.PV  \
0                100                  0        0,426556813                NaN
1                100                  0        0,425116123                NaN
2                100                  0        0,425404993                NaN
3                100                  0        0,425408256                NaN
4                100                  0        0,426262881                NaN

  14246_D01919022.PV
0                  0
1                  0
2                  0
3                  0
4                  0
   EQUIPO  Operación     Orden            DATEVALUE  Unnamed: 4  Unnamed: 5  \
0   14246          1  10005144  05-26-2023 13:45:41         NaN         NaN
1   14246          2  10005144  05-26-2023 15:26:57         NaN         NaN
2   14246          3  10005144  05-26-2023 16:56:30         NaN         NaN
3   14246          4  10005144  05-26-2023 18:18:12         NaN         NaN
4   14246          1  10005176  07-07-2023 11:53:24         NaN         NaN

   Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  Unnamed: 11  \
0         NaN         NaN         NaN         NaN  ...          NaN
1         NaN         NaN         NaN         NaN  ...          NaN
2         NaN         NaN         NaN         NaN  ...          NaN
3         NaN         NaN         NaN         NaN  ...          NaN
4         NaN         NaN         NaN         NaN  ...          NaN

   Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN

   Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20
0          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN

[5 rows x 21 columns]

In [4]:
# Convertir las columnas de fecha a formato datetime
df_centrifuga['DateTime'] = pd.to_datetime(df_centrifuga['DateTime'], errors='coerce')
df_horas_centrifugas['DATEVALUE'] = pd.to_datetime(df_horas_centrifugas['DATEVALUE'], errors='coerce')

In [5]:
# Filtrar las operaciones 1 y 2
df_operacion_1_2 = df_horas_centrifugas[df_horas_centrifugas['Operación'].isin([1, 2])]

# Mostrar las primeras filas después del filtrado
print(df_operacion_1_2.head())

   EQUIPO  Operación     Orden           DATEVALUE  Unnamed: 4  Unnamed: 5  \
0   14246          1  10005144 2023-05-26 13:45:41         NaN         NaN
1   14246          2  10005144 2023-05-26 15:26:57         NaN         NaN
4   14246          1  10005176 2023-07-07 11:53:24         NaN         NaN
5   14246          2  10005176 2023-07-07 15:06:24         NaN         NaN
8   14246          1  10005183 2023-09-08 12:48:53         NaN         NaN

   Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  Unnamed: 11  \
0         NaN         NaN         NaN         NaN  ...          NaN
1         NaN         NaN         NaN         NaN  ...          NaN
4         NaN         NaN         NaN         NaN  ...          NaN
5         NaN         NaN         NaN         NaN  ...          NaN
8         NaN         NaN         NaN         NaN  ...          NaN

   Unnamed: 12  Unnamed: 13  Unnamed: 14  Unnamed: 15  Unnamed: 16  \
0          NaN          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN          NaN
5          NaN          NaN          NaN          NaN          NaN
8          NaN          NaN          NaN          NaN          NaN

   Unnamed: 17  Unnamed: 18  Unnamed: 19  Unnamed: 20
0          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN
5          NaN          NaN          NaN          NaN
8          NaN          NaN          NaN          NaN

[5 rows x 21 columns]

In [6]:
# Filtrar los tiempos de la centrífuga para trabajar solo con la columna DateTime
df_centrifuga_time = df_centrifuga[['DateTime']]

# Comparar los tiempos de las operaciones con los tiempos de la centrífuga, buscando coincidencias
df_coincidencias = df_centrifuga_time[df_centrifuga_time['DateTime'].isin(df_operacion_1_2['DATEVALUE'])]

# Mostrar las coincidencias encontradas
print(df_coincidencias)

                 DateTime
31827 2024-02-09 12:45:00

In [7]:
df_operacion_1_2 = df_horas_centrifugas[df_horas_centrifugas['Operación'].isin([1, 2])]

# Definir las fechas de inicio y fin
inicio = pd.Timestamp('2023-05-26 13:45:41')
fin = pd.Timestamp('2023-05-26 15:26:57')

# Filtrar los datos de la centrífuga que estén dentro de ese intervalo de tiempo
df_filtrado = df_centrifuga[(df_centrifuga['DateTime'] >= inicio) & (df_centrifuga['DateTime'] <= fin)]

# Mostrar los datos filtrados
print(df_filtrado)

                DateTime  14246_CTF0101.EN_Parcial  14246_CTF0101.EN_Total  \
6964 2023-05-26 14:00:00                       0.0                     0.0
6965 2023-05-26 14:15:00                       0.0                     0.0
6966 2023-05-26 14:30:00                       0.0                     0.0
6967 2023-05-26 14:45:00                       0.0                     0.0
6968 2023-05-26 15:00:00                       0.0                     0.0
6969 2023-05-26 15:15:00                       0.0                     0.0

     14246_D01780551.PV 14246_D01906041.PV 14246_D01916047.PV  \
6964        27,37730341         508,939415        3,228658207
6965        26,50662437        504,4436537        3,176921523
6966        27,12460161        500,4437373        3,252316552
6967        26,30666014        497,0178289         3,13008267
6968        27,20163422        497,0767185        3,201098274
6969        27,64118754        490,9975591        3,193712205

     14246_D01916503.PV 14246_D01919022.PV
6964                NaN        6679,213381
6965                NaN        6678,545603
6966                NaN        6679,013188
6967                NaN         6679,18239
6968                NaN        6677,497421
6969                NaN        6676,607707

In [8]:
df_centrifuga['DateTime'] = pd.to_datetime(df_centrifuga['DateTime'], errors='coerce')
df_horas_centrifugas['DATEVALUE'] = pd.to_datetime(df_horas_centrifugas['DATEVALUE'], errors='coerce')

# Filtrar las operaciones 1 y 2
df_operacion_1_2 = df_horas_centrifugas[df_horas_centrifugas['Operación'].isin([1, 2])]

# Crear un DataFrame vacío para almacenar los resultados filtrados
df_resultado = pd.DataFrame()

# Recorrer cada fecha de operación 1 y 2
for i in range(0, len(df_operacion_1_2), 2):
    # Definir las fechas de inicio y fin de cada operación
    inicio = df_operacion_1_2.iloc[i]['DATEVALUE']
    fin = df_operacion_1_2.iloc[i + 1]['DATEVALUE'] if i + 1 < len(df_operacion_1_2) else inicio
    
    # Filtrar los datos de la centrífuga que estén dentro de ese intervalo de tiempo
    df_filtrado = df_centrifuga[(df_centrifuga['DateTime'] >= inicio) & (df_centrifuga['DateTime'] <= fin)]
    
    # Agregar los datos filtrados al DataFrame resultado
    df_resultado = pd.concat([df_resultado, df_filtrado])

# Mostrar el resultado final con todos los intervalos filtrados
print(df_resultado)

                 DateTime  14246_CTF0101.EN_Parcial  14246_CTF0101.EN_Total  \
6964  2023-05-26 14:00:00                       0.0                     0.0
6965  2023-05-26 14:15:00                       0.0                     0.0
6966  2023-05-26 14:30:00                       0.0                     0.0
6967  2023-05-26 14:45:00                       0.0                     0.0
6968  2023-05-26 15:00:00                       0.0                     0.0
...                   ...                       ...                     ...
47845 2024-07-25 10:15:00                       0.0                     0.0
47846 2024-07-25 10:30:00                       0.0                     0.0
47847 2024-07-25 10:45:00                       0.0                     0.0
47848 2024-07-25 11:00:00                       0.0                     0.0
47849 2024-07-25 11:15:00                       0.0                     0.0

      14246_D01780551.PV 14246_D01906041.PV 14246_D01916047.PV  \
6964         27,37730341         508,939415        3,228658207
6965         26,50662437        504,4436537        3,176921523
6966         27,12460161        500,4437373        3,252316552
6967         26,30666014        497,0178289         3,13008267
6968         27,20163422        497,0767185        3,201098274
...                  ...                ...                ...
47845        28,15393064        481,3810925         3,15758937
47846        28,46877716        475,5590716         3,15296855
47847        28,35503516        472,3496518         3,20890487
47848        28,78783526        468,6794382        3,224361783
47849          29,101676        465,9049458        3,177682403

      14246_D01916503.PV 14246_D01919022.PV
6964                 NaN        6679,213381
6965                 NaN        6678,545603
6966                 NaN        6679,013188
6967                 NaN         6679,18239
6968                 NaN        6677,497421
...                  ...                ...
47845        1,640687718        6676,401747
47846         1,57271401        6675,809653
47847        1,583957831        6677,055638
47848        1,578332825         6677,80736
47849        1,577368124        6676,135884

[3247 rows x 8 columns]